{% extends 'base.html.twig' %}

{% block body %}

<div class="form col-md-4 offset-md-4">
	{% if error %}
		<div class="alert alert-danger">
	    {{ error.messageKey|trans(error.messageData, 'security') }}
	    </div>
	{% endif %}
    <div class="card card-outline-secondary">
		<div class="card-header">
            <h4 class="mb-0">Login</h4>
        </div>
        <div class="card-block">
			<form action="{{ path('login') }}" method="post">
				<div class="form-group">
				    <label for="username">Username:</label>
				    <input type="text" class="form-control" required="required" id="username" name="_username" value="{{ last_username }}" />
				</div>
				<div class="form-group">
				    <label for="password">Password:</label>
				    <input class="form-control" type="password" required="required" id="password" name="_password" />
				</div>

				<div class="form-group">
			    	<button class="btn btn-block btn-primary" type="submit">login</button>
				</div>
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
